* {
  margin: 0;
  padding: 0;

}

.GalleryHeader {
  height: 55px;
  padding-left: 10vw;
  padding-top: 2vh;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);

  & > h1 {
    padding-top: 1.5vw;
    font-size: clamp(1rem, 2vw, 1.75rem);
    font-family: magallanes, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

.Gallery {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);

  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  //-webkit-column-width: 25%;
  //-moz-column-width: 25%;
  //column-width: 25%;
  height: calc(59vh - 60px);
  box-shadow: inset 0 -13vh 0 #11645A;
  //justify-content: center;
  align-items: center;


  & > .pics {

    & > :hover{
      //filter: contrast(110%);
      transition: filter 0.2s ease-in-out;
      filter: brightness(1.1)
    }
    & > img {
      -webkit-box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
      box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
      border-radius: 0vw;
      width: 100%;
      max-width: 385px;

    }
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: rgba(0,0,0,0.5);
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;

}
.model.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img{
  width: auto;
  z-index: 9999;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;

}
.model.open svg{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}


