

.gallery-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: 18vh;
  background: rgb(246,246,246);
  background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%);
  & > .slogan{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    //justify-content: flex-end;
    padding-left: 8vw;
    padding-bottom: clamp(2rem,8vw, 3rem);
    align-items: end;

      & > h1 {
        //width: 100px;
        display: flex;
        font-size: clamp(1rem, 5vw, 4.5rem);
        font-family: mono45-headline, monospace;
        font-weight: 500;
        font-style: normal;
        padding-right: 8px
      ;

      }
      & > h2{
        display: flex;
        font-size: clamp(0.5rem, 3.4vw, 3rem);
        font-family: magallanes, sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 3px;
      }



  }
  & > .kontakt {
    padding-right: 8vw;
    padding-bottom: 23px;
    text-align: right;
    & > .Adresy > h4 {
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: clamp(1rem, 1.75vw, 1.5rem);
    }
    & > .Znajdz {
      //padding-top: clamp(1rem, 3vw, 2rem);
      & > h4 {
        font-family: magallanes, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(1rem, 1vw, 1.618rem);
        margin-bottom: -2px;
      }
      & > ul{
        padding-top: 8px;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
        gap: 10px;
        list-style: none;
        padding-right: 2px;
        & > li > a > img {
          display: flex;
          max-width: 24px;
          max-height: 24px;
        }
      }
    }
  }
}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {

}

