
.test2 {
  position: absolute;
  z-index: -1;
}

.main-article {
  display: flex;
  height: 41vh;
  width: 100vw;
  background: rgb(246,246,246);
  background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%);
  //background-image: linear-gradient(to right, #ffffff, #f4f4f4, #e9e9e9, #dedede, #d3d3d3);
  justify-items: end;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
      & > section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 10vw;
      align-items: center;
        &  > h2 {
          width: 550px;
          font-family: magallanes, sans-serif;
          font-weight: 700;
          font-style: normal;
          font-size: clamp(2rem, 3vw, 2.618rem);
          padding-bottom: 10px;
        }
        & > h3 {
          width: 550px;
          font-family: magallanes, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(1rem, 1.3vw, 1.618rem);
        }
    }

}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  .main-article > section > h2{
    //font-size: clamp(2rem, 3px, 2.618rem);
    font-size: min(max(1rem, 2.618rem), 2.618rem);
    //  font-size: max(4px, min(1vw, 10px));

  }
}

