@import url('https://use.typekit.net/cco8pen.css');

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100vw;
  height: calc(38vh - 5px);
  background-color: #11645A;

  & > .slogan {
    display: flex;
    //flex-wrap: wrap;
    flex-direction: column;
    max-width: 500px;
    //justify-content: flex-end;
    padding-left: 10vw;
    padding-bottom: 5vh;

    & > .first-row {
      display: flex;
      align-items: end;

      & > h1 {
        font-size: 4.236rem;
        font-family: mono45-headline, monospace;
        font-weight: 500;
        font-style: normal;
        padding-right: 14px;
      }

      & > h2 {
        padding-top: 0;
        justify-items: end;
        font-size: clamp(1rem, 2vw, 2.618rem);
        font-family: magallanes, sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 6px;
      }
    }

    & > .second-row {
      display: flex;
      align-items: end;

      & > h2 {
        font-size: clamp(1rem, 2vw, 2.618rem);
        font-family: magallanes, sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    }
  }

  & > .kontakt {
    padding-right: 10vw;
    text-align: right;
    //padding-bottom: 1.6vh;

    & > .Adresy > h4 {
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      //font-size: clamp(1rem, 1.75vw, 1.5rem);
      font-size: clamp(1rem, 2vw, 1rem);
    }

    & > .Znajdz {
      padding-top: 6px;
      //padding-bottom: 10px;

      & > h4 {
        font-family: magallanes, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(1rem, 2vw, 1rem);
        padding-bottom: 6px;
      }

      & > ul {
        display: flex;
        justify-content: flex-end;
        grid-gap: 8px;
        list-style: none;
        padding-right: 2px;
        //padding-bottom: 36px;
        padding-bottom: 26px;

        & > li > a > img {
          display: flex;
          max-width: 22px;
          max-height: 22px;
        }
      }
    }
  }
}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  .article-footer {
    //padding-top: 21vh;
    align-items: flex-end;

    & > .slogan {
      display: flex;
      flex-direction: column;
      padding-bottom: 5vh;
      padding-top: 5vh;


      & > .first-row {
        display: flex;

        & > h2 {
          padding-top: 40px;
        }
      }
    }

    & > .kontakt {
      & > .Znajdz {
        & > ul {
          & > .insta {
            margin-right: 8px;
          }
        }
      }
    }
  }
  @media (min-width: 1918px) {
    .article-footer > .slogan > .first-row > h1 {
      font-size: 5rem;
    }
    .article-footer > .slogan > .first-row > h2 {
      font-size: 3rem;
      padding-top: 30px;
    }
    .article-footer > .slogan > .second-row > h2 {
      font-size: 3rem;
    }
    .article-footer > .kontakt > .Adresy > h4 {
      font-size: 1rem;
    }
    .article-footer > .kontakt > .Znajdz > h4{
      font-size: 1rem;
    }
  }
  @media (min-width: 1360px) and (max-width: 1917px) {
    .article-footer > .slogan > .first-row > h1 {
      font-size: 4rem;
    }
    .article-footer > .slogan > .first-row > h2 {
      font-size: 2rem;
      padding-top: 30px;
    }
    .article-footer > .slogan > .second-row > h2 {
      font-size: 2rem;
    }
    .article-footer > .kontakt > .Adresy > h4 {
      font-size: 0.75rem;
    }
    .article-footer > .kontakt > .Znajdz > h4{
      font-size: 0.75rem;
    }
  }

  @media (min-width: 790px) and (max-width: 1350px) {
    .article-footer > .slogan > .first-row > h1 {
      font-size: 2.5rem;
    }
    .article-footer > .slogan > .first-row > h2 {
      font-size: 1.3rem;
      padding-top: 18px;
    }
    .article-footer > .slogan > .second-row > h2 {
      font-size: 1.3rem;
    }
    .article-footer > .kontakt > .Adresy > h4 {
      font-size: 0.7rem;
    }
    .article-footer > .kontakt > .Znajdz > h4{
      font-size: 0.7rem;
    }
  }
}
