
.test2 {
  position: absolute;
  z-index: -1;
  background: linear-gradient(45deg, rgba(246, 246, 246, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background-color: red;
}

.main-article {
  display: flex;
  height: 42vh;
  width: 100vw;
  background: rgb(246, 246, 246);
  background: linear-gradient(45deg, rgba(246, 246, 246, 1) 0%, rgba(243, 243, 243, 1) 100%);
  //background-image: linear-gradient(to right, #ffffff, #f4f4f4, #e9e9e9, #dedede, #d3d3d3);
  justify-items: end;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;

  & > section {
    display: flex;
    width: 100vw;
    flex-direction: column;
    //justify-content: center;
    padding-right: 8vw;
    align-items: right;

    & > h2 {
      //width: 450px;
      font-family: magallanes, sans-serif;
      font-weight: 800;
      //font-style: bold;
      font-size: clamp(2rem, 3vw, 2.618rem);
      padding-bottom: 10px;
      color: #1D1D1D;
    }

    & > h3 {
      //width: 550px;
      font-family: magallanes, sans-serif;
      font-weight: 100;
      //font-style: normal;
      font-size: clamp(1rem, 1.3vw, 1.618rem);
      color: #707070;
    }
  }
}

@media (max-width: 789px) {
  .main-article {
    align-items: normal;
    height: 35vh;

    //padding-top: 3vh;
    & > section {
      text-align: right;
      padding-top: 3vh;
      padding-right: 10vw;
      & > h2 {
        font-size: 1.3rem;
      }
      & > h3 {
        font-size: 0.9rem;
        color: #707070;
        line-height: 22px;
      }
    }
  }
  .mobile-navbar{
    display: flex;
    //padding-top: 2vh;
    //justify-items: end;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.logo {
  height: 15vh;
}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  @media (min-width: 1918px) {
    .main-article > section > h2 {
      font-size: 2.8rem;
    }
    .main-article > section > h3 {
      font-size: 1.75rem;
    }
  }

  @media (min-width: 1360px) and (max-width: 1917px) {
    .main-article > section > h2 {
      font-size: 2.2rem;
    }
    .main-article > section > h3 {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 790px) and (max-width: 1350px) {
    .main-article > section > h2 {
      font-size: 1.3rem;
    }
    .main-article > section > h3 {
      font-size: 0.75rem;
    }
  }
}

