@import url('https://use.typekit.net/cco8pen.css');

* {
  margin: 0;
  padding: 0;
}

.Article-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100vw;
  height: calc(38vh - 5px);
  background-color: #11645A;
  & > .slogan{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    //justify-content: flex-end;
    padding-left: 8vw;
    padding-bottom: clamp(2rem,8vw, 3rem);
    align-items: end;

      & > h1 {
        //width: 100px;
        display: flex;
        font-size: clamp(1rem, 5vw, 4.1rem);
        font-family: mono45-headline, monospace;
        font-weight: 500;
        font-style: normal;
        padding-right: 8px ;

      }
      & > h2{
        display: flex;
        font-size: clamp(0.5rem, 3.3vw, 2.55rem);
        font-family: magallanes, sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 3px;
      }



  }
  & > .kontakt {
    padding-right: 8vw;
    padding-bottom: 29px;
    text-align: right;
    & > .Adresy > h4 {
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      //font-size: clamp(1rem, 1.75vw, 1.5rem);
      font-size: clamp(1rem, 1.5vw, 1.3rem);

    }
    & > .Znajdz {
      padding-top: 6px;
      & > h4 {
        font-family: magallanes, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
      }
      & > ul{
        padding-top: 6px;
        display: flex;
        justify-content: right;
        gap: 13px;
        list-style: none;
        & > li > a > img {
          display: flex;
          max-width: 24px;
          max-height: 24px;
        }
      }
    }
  }
}


