
.Maszynko {

  & > img {
    position: absolute;
    margin-top: -10vw;
    margin-left: 43vw;
    width: 14vw;
    overflow: hidden;
    -webkit-box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
    border-radius: 0.3vw;
  }
}

//@media screen and (min-width: 1919px) {
//  .Maszynko {
//    & > img {
//      position: absolute;
//      top: 55%;
//      left: 50%;
//      width: 300px;
//      margin-top: -150px; /* Half the height */
//      margin-left: -150px; /* Half the width */
//    }
//  }
//}
@media screen and (max-width: 767px) {
  .Maszynko {
    & > img {
      display: none;
    }
  }
}

.Menu {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  height: calc(79vh - 3px);
  width: 100vw;

  & > .MenuWhite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background: rgb(246, 246, 246);
    background: linear-gradient(45deg, rgba(246, 246, 246, 1) 0%, rgba(243, 243, 243, 1) 100%);

    & > .WhiteHeader {
      padding-left: 8vw;
      padding-top: 2.5rem;
      height: 60px;
      font-size: clamp(0.75rem, 1vw, 1rem);
      font-family: magallanes, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #484848;

    }

    & > .WhiteMenu {
      //padding-top: -50px;
      padding-left: 10Vw;
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #707070;
      font-size: clamp(0.75rem, 1vw, 1.618rem);
      //padding-bottom: 60px;

      & > ul {
        list-style-type: none;

        & > li {
          & > h2 {
            font-family: magallanes, sans-serif;
            font-weight: 500;
            font-style: normal;
            padding-bottom: 4px;
          }

          & > h3 {
            font-family: magallanes, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }

    & > .WhiteFooter {
      height: 70px;
    }
  }

  & > .MenuGreen {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: #11645A;


    //justify-content: center;
    & > .GreenHeader {
      padding-right: 8vw;
      padding-top: 3vh;
      height: 100px;
    }

    & > .GreenMenu {
      padding-right: 10vw;
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: clamp(0.75rem, 1vw, 1.618rem);

      & > ul {
        list-style-type: none;

        & > li {
          & > h2 {
            //text-shadow: 4px -2px 8px rgba(3, 3, 3, 0.1619);
            font-family: magallanes, sans-serif;
            font-weight: 500;
            font-style: normal;
            padding-bottom: 4px;
          }

          & > h3 {

            font-family: magallanes, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-shadow: 4px -2px 8px rgba(3, 3, 3, 0.33);
          }
        }
      }

    }

    & > .GreenFooter {
      & > footer {
        padding-top: 2px;
        padding-right: 8vw;
        //height: 85px;
        //padding-top: 80px;

        & > h4 {
          font-family: magallanes, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(1rem, 1vw, 1.618rem);
          margin-bottom: 2px;

        }

        & > ul {
          padding-top: 8px;
          display: flex;
          flex-direction: row-reverse;
          list-style-type: none;
          gap: 10px;
          padding-right: 2px;

          & > li {
            margin-top: -4px;
            font-family: magallanes, sans-serif;
            padding-bottom: 16px;

            & > a > img {
              max-width: 24px;
              max-height: 24px;
            }
          }
        }
      }
    }


  }
}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  .insta {
    margin-right: 8px;
  }
  @media (min-width: 1918px) {
    .Menu > .MenuWhite > .WhiteMenu > ul > li > h2 {
      font-size: 2.2rem;
    }
    .Menu > .MenuWhite > .WhiteMenu > ul > li > h3 {
      font-size: 1.5rem;
    }
    .Menu > .MenuGreen > .GreenMenu > ul > li > h2 {
      font-size: 2.2rem;
    }
    .Menu > .MenuGreen > .GreenMenu > ul > li > h3 {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1360px) and (max-width: 1917px) {
  }

  @media (min-width: 790px) and (max-width: 1350px) {
    .Menu > .MenuWhite > .WhiteMenu > ul > li > h2 {
      font-size: 1.1rem;
    }
    .Menu > .MenuWhite > .WhiteMenu > ul > li > h3 {
      font-size: 0.8rem;
    }
    .Menu > .MenuGreen > .GreenMenu > ul > li > h2 {
      font-size: 1.1rem;
    }
    .Menu > .MenuGreen > .GreenMenu > ul > li > h3 {
      font-size: 0.8rem;
    }
  }

}


