* {
  margin: 0;
  padding: 0;

}

.Maszynko {

  & > img {
    position: absolute;
    margin-top: -13.5vw;
    margin-left: 41vw;
    width: 18vw;
    overflow: hidden;
    -webkit-box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 50px 0px 40px 0px rgba(0, 0, 0, 0.55);
    border-radius: 0.5vw;
  }
}

@media screen and (min-width: 1919px) {
  .Maszynko {
    & > img {
      position: absolute;
      top: 55%;
      left: 50%;
      width: 300px;
      margin-top: -150px; /* Half the height */
      margin-left: -150px; /* Half the width */
    }
  }
}
@media screen and (max-width: 767px) {
  .Maszynko {
    & > img {
      display: none;
    }
  }
}

.Menu {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  height: calc(79vh - 5px);
  width: 100vw;

  & > .MenuWhite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 200%);

    & > .WhiteHeader {
      padding-left: 5vw;
      padding-top: 2.5vw;
      height: 53px;
      font-family: magallanes, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #484848;
    }

    & > .WhiteMenu {
      padding-left: 8Vw;
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #707070;
      font-size: clamp(0.75rem, 1vw, 1.33rem);

      & > ul {
        list-style-type: none;

        & > li {
          & > h2 {
            font-family: magallanes, sans-serif;
            font-weight: 500;
            font-style: normal;
          }

          & > h3 {
            font-family: magallanes, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }

    & > .WhiteFooter {
      height: 100px;
    }
  }

  & > .MenuGreen {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color: #11645A;


    //justify-content: center;
    & > .GreenHeader {
      padding-right: 8vw;
      padding-top: 3vh;
      height: 100px;
    }

    & > .GreenMenu {
      padding-right: 8vw;
      font-family: magallanes, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: clamp(0.75rem, 1vw, 1.33rem);

      & > ul {
        list-style-type: none;

        & > li {
          & > h2 {
            font-family: magallanes, sans-serif;
            font-weight: 500;
            font-style: normal;
          }

          & > h3 {
            font-family: magallanes, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }

    }

    & > .GreenFooter {
      & > footer {
        padding-right: 8vw;
        height: 100px;

        & > h2 {

          font-family: magallanes, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(1rem, 1.5vw, 1.3rem);
        }

        & > ul {
          padding-top: 15px;
          display: flex;
          flex-direction: row-reverse;
          list-style-type: none;
          gap: 15px;

          & > li {
            font-family: magallanes, sans-serif;

            & > a > img {
              max-width: 25px;
              max-height: 25px;
            }
          }
        }
      }
    }


  }
}



