
.navbar {
  display: fixed;
  z-index: 998;
  height: 21vh;
  width: 100vw;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #707070;
  background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%);

  & > ul {
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: end;
    list-style: none;
    width: 100%;
    font-family: magallanes, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.618rem);

    & > .text-menu{
      padding-bottom: 18px;
    }
  }
}

.logo {
  padding-top: 10%;
  max-width: 8vw;
  height: 19vh;
  //padding-bottom: vh;
}

.nav-item {
  color: #787878;
  font-family: magallanes, sans-serif;
  font-weight: 400;
  font-style: normal;
  //font-size: clamp(0.75rem, 2vw, 1.33rem);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item-active {
  color: #191919;
  font-weight: 500;
  //text-shadow: 1px #333333;
}

.nav-item:hover {

  text-decoration: none;
  color: #191919;
  transition: color 0.3s;

}

//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  .navbar {
    & > ul {
      align-items: flex-end;
     & > .text-menu{
        padding-right: 2vw;
        padding-left: 2vw;
      }
      & > .navbar-logo{
        padding-right: 2vw;
        padding-left: 2vw;
      }
    }
  }
}