
.navbar {
  display: flex;
  z-index: 998;
  height: 21vh;
  width: 100vw;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #707070;
  background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%);

  & > ul {
    display: flex;
    justify-content: center;
    gap: 4vw;
    align-items: end;
    list-style: none;
    width: 100%;
    font-family: magallanes, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.618rem);

    & > .text-menu{
      padding-bottom: 18px;
    }
  }
}
.menu-bar{
  display: none;
}
.logo {
  height: 19vh;
  //width: auto;
  //max-width: 8vw;
  //height: 19vh;
  //padding-botstsom: vh;
}

.nav-item {
  color: #787878;
  font-family: magallanes, sans-serif;
  font-weight: 400;
  font-style: normal;
  //font-size: clamp(0.75rem, 2vw, 1.33rem);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item-active {
  color: #191919;
  font-weight: 500;
  //text-shadow: 1px #333333;
}

.nav-item:hover {

  text-decoration: none;
  color: #191919;
  transition: color 0.3s;

}

@media screen and (max-width: 768px) {
  .text-menu{
    display: none;
  }
  .mobile-menu{
    position: absolute;
    top: 21vh;
    width: 100vw;
    height: 35vh;
    background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(243,243,243,1) 100%);
    //border-bottom: 2px solid
    & > ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: stretch;
    & > li {
      height: 100%;
      //padding-top: 10px;
      align-items: center;
      padding-top: 8%;
      //height: 8vh;
    }
    }
  }
  .navbar {
    border: none;
  }
  .logo {
    //padding-top: 20px;
    height: 124px;
    //margin-top: 2vh;
    //padding-bottom: ;
  }
  .menu-bar{
    display: block;
    position: absolute;
    left: 8vw;
    top: 5vh;
    height: 18px;
    width: auto;
  }
}
//---SAFARI ONLY------
@supports (-webkit-hyphens:none) {
  .navbar {
    & > ul {
      align-items: flex-end;
     & > .text-menu{
        padding-right: 2vw;
        padding-left: 2vw;
      }
      & > .navbar-logo{
        padding-right: 2vw;
        padding-left: 2vw;
      }
    }
  }
}